# будут игнорироваться все файлы и каталоги Thumbs.db и .DS_Store
Tumbs.db
.DS_Store
__MACOSX

# будет игнорироваться каталог tmp
tmp/

# будут игнорироваться файлы с расширением _old, _backup
*._backup
*._old